
.gradle/5.2.1/fileContent/fileContent.lock
.gradle/5.2.1/fileChanges/last-build.bin
.gradle/5.2.1/executionHistory/executionHistory.lock
.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/gc.properties
.gradle/5.2.1/javaCompile/javaCompile.lock
.gradle/6.8.3/executionHistory/executionHistory.bin
.gradle/6.8.3/executionHistory/executionHistory.lock
.gradle/6.8.3/fileHashes/fileHashes.bin
.gradle/6.8.3/fileHashes/fileHashes.lock
.gradle/6.8.3/javaCompile/javaCompile.lock
.gradle/6.8.3/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/tmp/compileJava/source-classes-mapping.txt
